

.userTable {
    color: black;
    width: 80%;
    margin: 50px auto;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  
  .addButton {
    text-decoration: none;
    background-color: rgb(162, 240, 5);
    color: white;
    font-weight: 500;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
  }
  
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .card {
    background-color: goldenrod;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cardContent {
    margin-bottom: 10px;
  }
  
  .cardActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cardActions button {
    padding: 8px 16px;
    background-color: #ff6347;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .heading{
    font-size: 3rem;
  }
  
  .cardActions a {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #4682b4;
    color:white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cardActions button:hover, .cardActions a:hover {
    opacity: 0.8;
  }
  